/*Limpar formatações padrão*/
* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 1em;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #e6e6e6;
}

/* Cabeçalho */

#area-cabecalho {
	background-color: #757ef3;
	padding: 15px;
	text-align: center;
}

#area-logo, #area-menu {
	padding: 10px;
}

#area-logo h1 {
	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: 5px;
	color: #FFF;
}

/* Formatação do menu */

a {
	text-decoration: none;	
}

a:link, a:visited {
	color: #757ef3;
}



#home .home, #comunicados .comunicados, #contato .contato {
	background-color: #5e65b9;
}

#area-cabecalho a:link, #area-cabecalho a:visited {
	color: #FFF;
	padding: 8px 12px;
}

#area-cabecalho a:hover {
	color: #4e4e4e;
	background: #CCC;
	text-decoration: none;
}

/* Formatação conteudo  */

#area-principal {
	width: 920px;
	margin: 0 auto;
	padding: 15px;
}

#area-postagens {
	width: 660px;
	float: left;
}

#area-postagens h2 {
	padding: 10px 0 10px 0;
	color: #4e4e4e;
}

#area-postagens #titulo {
	font-size: 2em;
	color: #161616;
}

.caixa-conteudo {
	margin-top: 10px;
	width: 500px;
}
.caixa-conteudo #topicos {
	list-style: none;
}

.caixa-conteudo #topicos li {
	width: 600px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border: 2px solid #CCC;
	border-radius: 10px;
}

.caixa-conteudo #topicos li a {
	color:#161616;
}

.caixa-conteudo #topicos li a:hover {
	color: #a7afff;
}

#topicos li p {
	padding: 10px 10px 0 10px;
	text-align: justify;
}

#topicos img {
	width: 600px;
}



/* Menus laterais  */

#area-lateral {
	width: 240px;
	float: right;
}

.postagem{
	padding: 20px;
	margin-bottom: 20px;
	background: white;	
}

.postagem p {
	text-align: justify;
	padding-top: 20px;
	padding: 20px 10px;
}

.postagem ul {
	list-style: inside;
	padding: 20px 10px;
}

.postagem ol {
	padding-top: 20px;
	padding-left: 22px;
}

.postagem #obs {
	color: #ffffff;
	background: rgba(255, 80, 80);
	border-radius: 5px;
	margin-bottom: 30px;
}

.postagem a:hover {
	color: #a7afff;
}

.foto {
	width: 620px;
}

.conteudo-lateral {
	background: white;
	padding: 10px;
	margin-bottom: 20px;
}

.postagem-lateral {
	font-size: 0.8em;
	padding: 5px;
	border-bottom: 1px dotted #CCC;
	
}

.postagem-lateral p {
	padding-top: 20px;
	padding: 2px;
}

.postagem-lateral img {
	width: 200px;
	height: 190px;
	padding-top: 10px;
}

/* Formatações gerais */


h2 {
	color: #4e4e4e;
}

h3 {
	color: #565656;
	background: #CCC;
	padding: 5px;
	border-radius: 5px;
	line-height: 30px;
}

#branco{
	color: white;
}

.data-postagem {
	font-size: 0.8em;
	border-bottom: 1px solid #f4f4f4;
	padding-bottom: 10px;
	margin-bottom: 10px;
	display: block;
}

#rodape {
	clear: both;
	text-align: center;
	padding: 15px;
	background: #CCC;
	border-radius: 5px;
}





